<div class="container">
  <div class="row">
    <div class="col-lg-4" style="background-color: orange;">
      <h2>User info</h2>
       <table class="table table-striped">
        <thead>
         <th><%= image_tag users.get_profile_image(100,100) %></th>
         <tr>
          <th>name</th>
          <td><%= users.name %></td>
         </tr>
        </thead>
        <tbody>
         <tr>
          <td>introduction</td>
          <td></td>
         </tr>
        </tbody>
       </table>
    </div>

    <div class="col-lg-8">