<main>
  <div class="container px-5 px-sm-0">
   <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
       <table class="table table-striped">
        <thead>
         <th><%= image_tag users.get_profile_image(100,100) %></th>
         <tr>
          <th>name</th>
          <td><%= users.name %></td>
         </tr>
         <tr>
          <td>introduction</td>
          <td><%= users.introduction %></td>
         </tr>
        </thead>
       </table>
       <div class="row">
        <div class="btn btn-outline-secondary btn-block">
        <%= link_to edit_user_path(@user.id) do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
        </div>
       </div>